nav ul li a{
  text-decoration: none;
}
.postlist{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postlist li{
  padding: 10px;
  background: #ebebeb;
  border-radius: 5px;
}